body {
    margin: 0;
    font
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgb(108, 144, 126);
    overflow: hidden;
}